@import "tailwindcss";

@utility container {
    padding-inline: 10px;
    
    @variant sm {
      padding-inline: 20px;
    }
    
    @variant lg {
      padding-inline: 80px;
    }
    
    @variant xl {
      padding-inline: 120px;
    }
  }